<%= notice.present? ? content_tag(:p, notice, style: "color: green; font-size: 1.2em; margin-bottom: 20px; text-align: center;") : '' %>

<div class="header-container">
  <div class="header-left">
    <h1>Movies</h1>
  </div>
  <div class="header-right">
    <%= link_to "+", new_movie_path(sort: @sort, direction: @direction), class: "add-movie-btn" %>
  </div>
</div>

<table class="movies-table">
  <thead>
    <tr>
      <th class="<%= 'highlight-column' if @sort == 'title' && @direction.present? %>">
        <span class="header-text">Title</span>
        <%= link_to movies_path(sort: 'title', direction: next_direction('title')),
                    class: "sort-button" do %>
          <%= sort_indicator('title') %>
        <% end %>
      </th>
      
      <th class="<%= 'highlight-column' if @sort == 'rating' && @direction.present? %>">
        <span class="header-text">Rating</span>
        <%= link_to movies_path(sort: 'rating', direction: next_direction('rating')),
                    class: "sort-button" do %>
          <%= sort_indicator('rating') %>
        <% end %>
      </th>
      
      <th class="<%= 'highlight-column' if @sort == 'release_date' && @direction.present? %>">
        <span class="header-text">Release Date</span>
        <%= link_to movies_path(sort: 'release_date', direction: next_direction('release_date')),
                    class: "sort-button" do %>
          <%= sort_indicator('release_date') %>
        <% end %>
      </th>
      
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td class="<%= 'highlight-column' if @sort == 'title' && @direction.present? %>">
          <%= movie.title %>
        </td>
        <td class="<%= 'highlight-column' if @sort == 'rating' && @direction.present? %>">
          <%= movie.rating %>
        </td>
        <td class="<%= 'highlight-column' if @sort == 'release_date' && @direction.present? %>">
          <%= movie.release_date.present? ? movie.release_date.strftime("%b %d, %Y") : 'N/A' %>
        </td>
        <td>
          <%= link_to "Info", movie_path(movie, sort: @sort, direction: @direction),
                class: "btn btn-primary" %>
          <%= link_to "Edit", edit_movie_path(movie, sort: @sort, direction: @direction),
                class: "btn btn-secondary" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>