<%= notice.present? ? content_tag(:p, notice, style: "color: green; font-size: 1.2em; margin-bottom: 20px; text-align: center;") : '' %>

<div class="header-container">
  <div class="header-left">
    <h1>Movies</h1>
  </div>
  <div class="header-right">
    <%= link_to "+", new_movie_path, class: "add-movie-btn" %>
  </div>
</div>

<table class="movies-table">
  <thead>
    <tr>
      <!-- Title Column -->
      <th class="<%= 'highlight-column' if highlight_column?('title') %>">
        Title
        <%= link_to sort_arrow('title'),
            movies_path(sort: 'title', direction: next_sort_direction('title')),
            class: "sort-button" %>
      </th>
      
      <!-- Rating Column -->
      <th class="<%= 'highlight-column' if highlight_column?('rating') %>">
        Rating
        <%= link_to sort_arrow('rating'),
                    movies_path(sort: 'rating', direction: next_sort_direction('rating')),
                    class: "sort-button" %>
      </th>
      
      <!-- Release Date Column -->
      <th class="<%= 'highlight-column' if highlight_column?('release_date') %>">
        Release Date
        <%= link_to sort_arrow('release_date'),
                    movies_path(sort: 'release_date', direction: next_sort_direction('release_date')),
                    class: "sort-button" %>
      </th>
      
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td class="<%= 'highlight-column' if highlight_column?('title') %>">
          <%= movie.title %>
        </td>
        <td class="<%= 'highlight-column' if highlight_column?('rating') %>">
          <%= movie.rating %>
        </td>
        <td class="<%= 'highlight-column' if highlight_column?('release_date') %>">
          <%= movie.release_date.strftime("%b %d, %Y") %>
        </td>
        <td>
          <%= link_to "Show", movie_path(movie, sort: session[:sort], direction: session[:direction]),
                class: "btn btn-primary" %>
          <%= link_to "Edit", edit_movie_path(movie, sort: session[:sort], direction: session[:direction]),
                class: "btn btn-secondary" %>
          <%= link_to "Delete", movie_path(movie, sort: session[:sort], direction: session[:direction]),
                method: :delete, data: { confirm: "Are you sure?" },
                class: "btn btn-danger" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>